.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    padding: 10vh 0px;
}

.content {
    display: flex;
}

.pictureWrapper {
    margin: 10px;
    position: relative;
}

.image {
    position: relative;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.badge {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #BAA88A;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    background: #003848;
    margin-bottom: -10px;
    bottom: 0;
    right: 0;
}

.soldAmount {
    font-size: xx-large;
    color: #BAA88A;
}

.soldText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: smaller;
}

.imageBorder {
    background: #C3CCDA;
    margin-top: -39vw;
    width: 40vw;
    height: 40vw;
    z-index: 1;
    margin-right: -20px;
}

.presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    max-width: 500px;
}

.title {
    color: #003848;
    font-size: xx-large;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.idAnchor {
    position: absolute;
    margin-top: -100px;
}

@media only screen and (max-width: 992px) {
    .container {
      padding: 5vh 0px;
      margin: 0px 10px;
    }

    .content {
        flex-direction: column;
    }

    .image {
        margin: 0px;
        height: 400px;
    }

    .presentation {
        padding: 0px;
        margin: 15px 0px;
        text-align: center;
    }
  }
