.container {
    flex: 1;
    display: flex;
    margin: 10vh 15vw;
}

.picture {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 40vw;
    height: 40vw;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageBorder {
    background: #C3CCDA;
    margin-top: -39vw;
    width: 40vw;
    height: 40vw;
    z-index: 1;
    margin-right: -20px;
}

.presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 40px 10px;
    }
}