.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 15vw;
    padding: 10vh 0px;
}

.content {
    display: flex;
}

.picture {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    min-height: 40vh;
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #BAA88A;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    background: #24293A;
    margin-bottom: -10px;
}

.soldAmount {
    font-size: xx-large;
    color: #BAA88A;
}

.soldText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: smaller;
}

.imageBorder {
    background: #C3CCDA;
    margin-top: -39vw;
    width: 40vw;
    height: 40vw;
    z-index: 1;
    margin-right: -20px;
}

.presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.title {
    color: #24293A;
    font-size: xx-large;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.idAnchor {
    position: absolute;
    margin-top: -100px;
}

@media only screen and (max-width: 992px) {
    .container {
      padding: 5vh 0px;
      margin: 0px 10px;
    }
  }

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .picture {
        margin: 0px;
    }

    .presentation {
        padding: 0px;
        margin: 15px 0px;
        text-align: center;
    }
}