.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 15vw;
    padding: 10vh 0px;
}

.label {
    flex: 1;
    color: #24293A;
    font-size: xx-large;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.sublabel {
    flex: 1;
    color: #B9B5AE;
    font-size: large;
    margin-bottom: 25px;
    text-align: center;
    width: 60%;
}

.oklogo {
    color: #24293A;
    text-align: center;
    font-size: xx-large;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.textInput {
    flex: 1;
    font-size: large;
    color: #24293A;
    border-bottom: 1px solid #24293A;
    padding-bottom: 10px;
}

.textInput::placeholder {
    color: #B9B5AE;
}

.textInputError {
    border-bottom: 1px solid #F95D51;
}

.errorMessage {
    color: #F95D51;
    font-size: small;
    height: 30px;
}

.submitButton {
    height: 60px;
    background-color: #24293A;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    cursor: pointer;
}

.idAnchor {
    position: absolute;
    margin-top: -100px;
}

@media only screen and (max-width: 1200px) {
    .inputWrapper {
        width: 80%;
    }

    .sublabel {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .inputWrapper {
        width: 100%;
    }

    .sublabel {
        width: 100%;
    }
}
  
@media only screen and (max-width: 620px) {
    .container{
        margin: 0px 10px;
    }
}