.container {
  display: flex;
  color: white;
  justify-content: space-evenly;
}

.logo {
  height: 100px;
  margin: 40px;
  object-fit: cover;
}

.info {
  margin: 40px;
}

.label {
  font-family: 'BebasNeue';
  font-size: x-large;
}

.someContainer {
  font-size: x-large;
  display: flex;
}

.someIcon {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .info {
    text-align: center;
  }

  .someContainer {
    justify-content: center;
  }

  .someIcon {
    margin: 5px;
  }
}