.container {
    height: 90vh;
    display: flex;
    flex: 1;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin-top: 70px;
}

.idAnchor {
    position: absolute;
    margin-top: -100px;
}

.mikosSpace {
    flex: 1;
}

.information {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
}

.title {
    color: #BAA88A;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px 25px;
    background: rgb(36, 41, 58, 0.8);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #BAA88A;
    font-size: large;
    background: rgb(36, 41, 58, 0.8);
    padding: 5px 10px;
}

.text p {
    margin: 5px;
}

@media only screen and (max-width: 992px) {

    .information {
        margin-top: 2vh;
        align-items: center;
        margin-left: unset;
    }

    .container {
        background-position: 92%;
    }

    .mikosSpace {
        flex: 0;
    }

    .title {
        text-align: center;
        background: none;
        margin-top: 0px;
        font-size: 48px;
        margin-bottom: 0px;
        color: #24293A;
    }

    .text {
        background: none;
        color: #24293A;
        flex: 1;
    }
}