.container {
    height: 90vh;
    display: flex;
    flex: 1;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin-top: 70px;
}

.mikosSpace {
    flex: 1;
}

.information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15vw;
}

.title {
    color: #24293A;
    font-size: xxx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.text {
    color: #24293A;
    font-size: large;
}

.text p {
    margin: 5px;
}

@media only screen and (max-width: 992px) {

    .information {
        margin-top: 5vh;
        align-items: center;
        margin-left: unset;
    }

    .container {
        background-position: 92%;
    }

    .mikosSpace {
        flex: 0;
    }

    .title {
        flex: 1;
        text-align: center;
    }

    .text {
        text-align: center;
    }
}