@font-face {
    font-family: 'FuturaStd';
    src: local('FuturaStd'), url(../utils/fonts/FuturaStd-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url(../utils/fonts/BebasNeue.otf) format('opentype');
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'FuturaStd';
}

.page {
    flex: 1;
    flex-direction: column;
    max-width: 1024px;
}

.contentBlock {
    flex: 1;
}

@media (max-width: 1024px) {
}