.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page {
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 2024px;
}

.contentBlock {
    flex: 1;
}

.contentBlockDark {
    background-color: #F5F1EC;
}

.contentBlockDarkBlue {
    background-color: #003848;
}