.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 8vh 0px;
    margin-top: -10px;
}

.idAnchor {
    position: absolute;
    margin-top: -100px;
}

@media only screen and (max-width: 992px) {
    .container {
      padding: 5px 20px 0vh 20px;
    }
}
  