.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0px 15vw;
  padding: 10vh 0px;
}

.label {
  color: #24293A;
  font-size: xx-large;
  margin-bottom: 25px;
  font-weight: bold;
}

.sublabel {
  color: #B9B5AE;
  font-size: large;
  margin-bottom: 25px;
  text-align: center;
}

.apartmentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.apartmentInfo {
  position: relative;
  background: #baa88a;
  color: white;
  padding: 10px;
}

.address {
  font-size: large;
}

.powerof {
  font-size: xx-small;
}

.image {
  object-fit: cover;
  width: 100%;
}

.idAnchor {
  position: absolute;
  margin-top: -100px;
}

@media only screen and (max-width: 1200px) {
  .apartmentWrapper {
    grid-template-columns: 1fr;
  }

  .image {
    height: 400px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 5vh 0px;
    margin: 0px 10px;
  }

  .image {
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    height: 200px;
  }
}