.container {
  display: flex;
  flex-direction: column;
}

.label {
  flex: 1;
  color: #24293A;
  font-size: xx-large;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}

.apartmentWrapper {
  display: flex;
  flex: 1;
}

.apartment {

}

.image {
  height: 200px;
  width: 200px;
}