.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0px;
}

.label {
  color: #003848;
  font-size: xx-large;
  margin-bottom: 40px;
  font-weight: bold;
}

.storyWrapper {
  text-align: center;
  margin-bottom: 70px;
  max-width: 60%;
}

.story {
  font-style: italic;
  font-size: large;
  color: #003848;
}

.name {
  font-size: small;
  color: #B9B5AE;
}

.quoteIcon {
  color: #A09074;
}

.idAnchor {
  position: absolute;
  margin-top: -100px;
}

@media only screen and (max-width: 1200px) {
  .storyWrapper {
    max-width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 5vh 0px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 620px) {
  .storyWrapper {
    max-width: 100%;
  }
}