.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node {
    display: flex;
    min-height: 400px;
}

.startNode {
    display: flex;
    min-height: 100px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centerColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 60px;
}

.buttonColumn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 60px;
}

.line {
    width: 4px;
    background: #C3CCDA;
    height: 100%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #A09074;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 4px solid #C3CCDA;
    position: absolute;
    background: white;
}

.image {
    width: 400px;
    height: 275px;
    object-fit: cover;
}

.info {
    width: 400px;
    color: #003848;
    text-align: center;
}

.title {
    font-family: 'Aventa-Bold';
    font-size: x-large;
    text-align: center;
}

.button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    text-align: center;
    padding: 10px;
    border: 4px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: large;
    margin-top: -60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 250px;
    height: 60px;
}

.centerEndColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 60px;
}

.centerEmpty {
    flex: 1;
    margin-top: 20px;
}

.centerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.endCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #A09074;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 4px solid #C3CCDA;
    position: absolute;
    background: white;
    margin-bottom: 0px;
}